@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <img style="position:absolute; TOP:110px; LEFT:285px; WIDTH:1150px; HEIGHT:700px" src="@Url.Content("~/Assets/Carbon-5.png")">
    </div>
