@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
  
}

    <div class="text-left">
        <h1 class="display-4">MyAccount</h1>

        <asp:HiddenField ID="HiddenField1" runat="server" />

    </div>
