@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
  
}

<style>

    table, th, td {
        border: 1px grey;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }



</style>


<div class="text-left">
    <h1 class="display-4">MyAccount</h1>
    <br />
    <h2> Balance: $@Model.info.balance  |  CarbonCoins: @Model.info.carbonBalance</h2>
    <br />
    <h2> Transactions:</h2>
    <!---- Add Transaction Stuff down here!-->

    <table style="width:50%">
        <tr>
            <th>Name</th>
            <th>Carbon Transfer</th>
            <th>Cash Transfer</th>
            <th>Time Stamp</th>
        </tr>


    </table>


</div>
