@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
  
}

    <div class="text-left">
        <h1 class="display-4">MyAccount</h1>

        <asp:TextBox ID="textBox" runat="server" Enabled="false"><%= ye %></asp:TextBox>





    </div>
