@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";

}

<style>

    table, th, td {
        border: 1px grey;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }



</style>


<div class="text-left">
    <h1 class="display-4">MyAccount</h1>
    <br />
    <h2> Balance: $@Model.info.balance  |  CarbonCoins: @Model.info.carbonBalance</h2>
    <br />
    <h2> Transactions:</h2>
    <!---- Add Transaction Stuff down here!-->


    <table style="width:75%">
        <tr>
            <th>Sender Name</th>
            <th>Recipient Name</th>
            <th>Cash Transfer</th>
            <th>Carbon Coin Transfer</th>
        </tr>

        @for (int i = 0; i < Model.transData.Count; ++i)
        {
            <tr>
                <th>@Model.transData[i].senderName</th>
                <th>@Model.transData[i].recipientName</th>
                <th>$@Model.transData[i].cashTransfer</th>
                <th>@Model.transData[i].carbonTransfer</th>
            </tr>

        }

    </table>



</div>
