@page
@model SellModel
@{
}

<h1 class="display-4">Current Items for Sale</h1>

<table style="width:75%">
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Price ($)</th>
        <th>Carbon Coins</th>
    </tr>

    <tr>
        <th>123456</th>
        <th>Metal Water Bottle</th>
        <th>25</th>
        <th>12</th>
    </tr>

    <tr>
        <th>246810</th>
        <th>Plastic Water Bottle</th>
        <th>2</th>
        <th>4</th>
    </tr>

</table>
