@page
@model Sign_InModel
@{
    ViewData["Title"] = "Sign-In";

    <form method="post">
        <fieldset>
            <p class="customspace"> Please enter your account credentials: </p>
            <label>Username:</label>
            <input asp-for="username" placeholder="" />
            <span asp-validation-for="username" class="text-danger"></span>

            <br class="customspace"/>

            <label>&nbspPassword: </label>
            <input asp-for="password" type="password" placeholder="" />
            <span asp-validation-for="password" class="text-danger"></span>

            <br />
            <br />

            <input type="submit" value="Submit" id="submitButton" />
        </fieldset>
    </form>
}
