@page
@model Sign_InModel
@{
    ViewData["Title"] = "Sign-In";

    <form method="post">
        <fieldset>
            <input asp-for="username" placeholder="user name" />
            <span asp-validation-for="username" class="text-danger"></span>

            <br />

            <input asp-for="password" type="password" placeholder="password" />
            <span asp-validation-for="password" class="text-danger"></span>

            <br />

            <input type="submit" value="Submit" id="submitButton" />
        </fieldset>
    </form>
}
