@page
@model Sign_InModel
@{
    ViewData["Title"] = "Sign-In";

    <div>
        <form>
            <label>Username:</label>
            <input type="text" name="username" />
            <br /> <br />
            <label>Password: </label>
            <input type="password" name="password" />
            <br /> <br />
            <input type="submit" name="submit" />
        </form>
    </div>
}
