@page
@model Sign_InModel
@{
    ViewData["Title"] = "Sign-In";

    <div>
        <form>
            <label>Username:</label>
            <input id="username" name="username" type="text"/>
            <br /> <br />
            <label>Password: </label>
            <input id="password" name="password" type="password" />
            <br /> <br />
            <input type="submit" name="submit" OnClick="submitButtonClick"/>
        </form>
    </div>
}
